.formContainer {
    position: relative;
    top: 3rem;
    marign: 0 2rem;

    .contactForm {

        display: flex;
        flex-direction: column;

        .inputs {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 1rem;

            input {
                background: white;
                opacity: 0.8;
                border-radius: 0.3rem;
                margin-left: 1rem;
            }

            textarea {
                background: white;
                opacity: 0.8;
                border-radius: 0.3rem;
            }
        }
    }
}

.sns {
    margin: 3%;
    display: flex;
    flex-direction: row-reverse;

    a {
        margin: 3%;
    }
}

.popup {
    text-align: center;
    padding: 2%;
    font-size: .5rem;
    background: #f4bbbb56;
    border: .5px solid rgb(0, 0, 0);
}