.skill {
    margin: 10% 1%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:390px) {
    .skill {
        flex-direction: column;
        align-items: center;
    }
  }