
.worList {
    height: 100%;
    width: 50%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillList {
    margin: 0;
}

@media screen and (max-width:960px) {
    .worList {
        width: 90%;
    }
}